@import "tailwindcss";

@theme {
  --text-sm: 1.25rem;
  --text-ssm: 1rem;
  --text-md: 1.5rem;
  --text-smd: 1.25rem;
  --text-lg: 2rem;
  --text-slg: 1.75rem;
  --text-xl: 3rem;
  --text-sxl: 2.25rem;

  --color-primary: #ECA72C;
  --color-secondary: #628B48;
  --color-fontPrimary: #0B0500;
  --color-fontSecondary: #888888;
  --color-background: #FBFEFB;
  --color-backgroundSecondary: #0B0500;
  --color-fontWhite: #FBFEFB;
}

body{
  background-color: var(--color-background);
}

#nprogress .bar {
  /* background: linear-gradient(90deg, #628B48, #ECA72C) !important; */
  background: #628B48 !important;
  height: 6px !important;
}
